*,*before,*:after{
  box-sizing:border=box;
}
.container {
  float:left;
  padding: 20px;
}
body {
  background-color: #dadada;
  font-size: 10px;

}
div{
  float:left;
  /* background-image:image("baku.jpg"); */
  /* margin:100%; */
}
/* .container{

} */
.baku{
  background-image:url("..images/baku.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  height:auto;
}
.preview {
height: 200px;
}

/* Photo  */
.responsive{
  margin:0px;
  max-width: 100%;
  height: auto;
  /* background:url(/Users/akiva/bloc/css-exercise-four/images/baku.jpg); */

}
@media screen and (min-width: 575px) {
  div {
    margin:1%;
    width: 48%;
  }
}
/* TEXT */
h1{
  font-family: sans-serif;
  font-size: 100%;
  font-weight: lighter;
  margin:auto;
  max-width: 60%;
  text-align: center;
  padding-bottom: 20px;
}
